
body,html{
  height:100%;
}
.navbar {
      margin-bottom: 0;
      background-color: #080808;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  .carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.carousel-inner > .item > img {
    margin: 0 auto;
    width:100%;
    height:100%;
    object-fit: cover;
}
.carousel-caption{
  background-color: rgba(0,0,0,0.5);
  font-family: Montserrat, sans-serif;
}

.carousel{
  margin-top:3%;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    padding:5%;
    padding-top: 3%;
    margin:6%;
    margin-top: 2%;
    text-align: left;
}


.bg-white {
    background-color: #fff!important;
}




 #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }

  #courses{
  text-align: center;
  color: #f4511e;
  font-family: Montserrat, sans-serif;
}

.dropdown-menu{
  width:100%;
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }



@media screen and (max-width: 1000px){
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.footer {
   width:100%;
   font-size: 1.5rem;
   position:absolute;
   margin-top:250px;
   z-index:1000;
   color:white;
   background-color: rgba(0, 0, 0, 0.8);
   padding-left: 40%;
}