.menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 30px auto;
  width: 70%;
  height: 0;
  padding-top: 70%;
}
@media all and (max-width: 320px) {
  .menu {
    width: 230px;
    height: 230px;
    padding: 0;
  }
}
@media all and (min-width: 700px) {
  .menu {
    width: 500px;
    height: 500px;
    padding: 0;
  }
}
.centered {
  position: fixed;
  top: 56%;
  left: 56%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

.menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: url(#sector);
  /* try this one in Chrome/Opera/Safari */
  /* clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%); */
}
.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.menu li:hover {
  background-color: gold;
}
.one {
  background-color: #a5e2f3;
  transform: rotate(0deg);
}
.two {
  background-color: #86d8ef;
  transform: rotate(-60deg);
}
.three {
  background-color: #66ceeb;
  transform: rotate(-120deg);
}
.four {
  background-color: #47c4e6;
  transform: rotate(-180deg);
}
.five {
  background-color: #27b9e2;
  transform: rotate(-240deg);
}
.six {
  background-color: #1ba4cb;
  transform: rotate(-300deg);
}
.icon {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  right: 15%;
  top: 30%;
  /* make sure it it rotated enough; angle of rotation = angle of the sector itself */
  transform: rotate(60deg);
  /* style further as needed */
  color: #0c495a;
  font-family: Indie Flower;
  font-size: 25px;
}
.why{
  font-size: 23px !important;
  padding-bottom: 8%;
}
p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer {
   width:100%;
   font-size: 1.5rem;
   position:absolute;
   z-index:1000;
   color:white;
   background-color: rgba(0, 0, 0, 0.8);
   padding-left: 40%;
}